.navy {
      float:left;
      padding-top: 10px;
      padding-left: 10px;
      color:white;
}
body{
      font:Nunito;
}

.sidenav {
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: rgb(241, 90, 41);
   overflow-x: hidden;
   transition: 0.5s;
   padding-top: 30px;
   text-align: center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
 text-decoration: none;
 font-size: 25px;
 color: white;
 display: block;
 transition: 0.3s;

}

.sidenav a:hover{
   color: #f1f1f1;
}

.sidenav .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
}

@media screen and (max-height: 450px) {
 .sidenav {padding-top: 15px;}
 .sidenav a {font-size: 18px;}
}
.banner{
           background-image:url("../assets/backgrounds/landing.jpg");
           background-size: cover;
           text-align: center;
           height: 100vh;
         }

h1
        {
        color: white;
        }

.row    {
  padding: 0;
  margin: 0;
        }
.break  {
  background-image: url("../images/breakfast.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
      }
.break:hover{
  opacity: 0.5;
}
.breakfast{
    max-height:100%;
    max-width: 100%;
    text-align:center;
    font-weight: bold;
    font-size: 30px;
    color: white;
    padding:70px;
    margin-top:10px;
      }
.dinn {
  background-image: url("../images/dinner.jpg");
  background-size: cover;
      }
.dinn:hover{
  opacity: 0.5;
}
.dinner{
  max-height:100%;
  max-width: 100%;
  text-align:center;
  color: white;
  font-weight: bold;
  font-size: 30px;
  padding:70px;
  margin-top:10px;
      }
.lun {
  background-image: url("../images/lunch.jpg");
  background-size: cover;
    }
.lun:hover{
  opacity: 0.5;
}
.lunch  {
  max-height:100%;
  max-width: 100%;
  color: white;
  text-align:center;
  font-weight: bold;
  font-size: 30px;
  padding:70px;
  margin-top:10px;
      }
.haha {
  max-height:100%;
  max-width: 100%;
  text-align:center;
  font-weight: bold;
  font-size: 30px;
  padding:50px;
  margin-top:10px;
      }

.well{
  float: left;
    }
.par{
  padding: 40px;
  display:column;
    }

.button{
  color:rgb(244, 107, 66);
    }

.B {
  background-color: rgb(241, 90, 41);
  padding: 30px;
    }
.A {
  background-color: white;
  padding: 30px;
}
.haha {
        max-height:100%;
        max-width: 100%;
        text-align:center;
        font-weight: bold;
        font-size: 30px;
        padding:40px;
        margin-top:10px;
      }
  .Drinks{
        padding : 0;
        margin : 0;
        display: column;
        float: right;
        }
  .Overlay  {
        background-image:url("../images/foodsBg.jpg");
        background-size: cover;
        text-align: center;
        height: 80vh;
        background-position: center;
        padding:0px;
        margin:0px;
            }
  .Burger {
              background-color:white;

          }
  .nav a {
        display:inline;
        float: right;
        padding: 60px;
        text-align: right;
        font-size: 25px;
          }
  .fast {
       background-color: white;
       padding-top: 60px;
       max-width:70%;
       background-position: right;
       float:right;
       padding:20px;
            }

  /*.container-fluid {
       background-size:weight:70%;
          }*/
   #info  {
       padding:60px;
       margin-left: 40px;
       margin-right: 40px;
       margin-top:50px;
       box-shadow: 0 0 16px #888888;
          }
  .menu     {
    background-color: #F15A29;
    color:white;
    text-align: center;
    padding-top:80px;
    margin:0px;
    height: 35px;
    margin-top: -190px;
        }

h5        {
  font-size: 40px;
}
  .Salad  {
              background-image: url("../images/subscribe.jpg");
              align-content: center;
              text-align: center;
              height: 100vh;
              background-position: center;
              background-repeat: no-repeat;
              padding-bottom: 20%;

            }
  .contacts {
              align-content: center;
              padding-top:260px;
  }

  #subscribe {
            text-align: center;
            font-size: 30px;
          }
  .btn    {
          background-color: #F15A29;
          }
  #logo   {
            padding:30px;
          }
  .footer  {
        padding-top:0px;
        margin:0px;
        height:
        }
  h6    {
    font-size: 20px;
  }

  p   {
    font-size: 15px;
      }
#foot {
  padding-top:0;
  margin:0;
}
