  .banner {
           background-image:url("file:///home/student/Desktop/Anita/ip2/assets/backgrounds/landing.jpg");
           background-size: cover;
           text-align: center;
           height: 100vh;
           background-position: center;
         }
 h1
        {
        color: white;
        }

.row {
  padding: 0;
  margin: 0;
}
.break{
  background-image: url("file:///home/student/Desktop/Anita/ip2/assets/foodtop/breakfast.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
}

.breakfast{
    max-height:100%;
    max-width: 100%;
    text-align:center;
    font-weight: bold;
    font-size: 30px;
    padding:40px;
    margin-top:10px;
}
.dinn {
  background-image: url("file:///home/student/Desktop/Anita/ip2/assets/foodtop/dinner.jpg");
  background-size: cover;

}
.dinner{
  max-height:100%;
  max-width: 100%;
  text-align:center;
  font-weight: bold;
  font-size: 30px;
  padding:40px;
  margin-top:10px;
}
.lun {
  background-image: url("file:///home/student/Desktop/Anita/ip2/assets/foodtop/lunch.jpg");
  background-size: cover;
}
.lunch  {
  max-height:100%;
  max-width: 100%;
  text-align:center;
  font-weight: bold;
  font-size: 30px;
  padding:40px;
  margin-top:10px;
}
.haha {
  max-height:100%;
  max-width: 100%;
  text-align:center;
  font-weight: bold;
  font-size: 30px;
  padding:40px;
  margin-top:10px;
}

.well{
  float: left;
}
